##### AUTOCREATED BY KIAUH #####
[include kiauh.cfg]
#  Klipper master config file.
#  Uses multiple other config files.
#
#    _  __ ____      _     _  __    _   _____   _    _   _
#   | |/ /|  _ \    / \   | |/ /   / \ |_   _| / \  | | | |
#   | ' / | |_) |  / _ \  | ' /   / _ \  | |  / _ \ | | | |
#   | . \ |  _ <  / ___ \ | . \  / ___ \ | | / ___ \| |_| |
#   |_|\_\|_| \_\/_/   \_\|_|\_\/_/   \_\|_|/_/   \_\\___/
#
#               /777          ((_           ___
#              (o o)         (o o)         (o o)
#          ooO--(_)--Ooo-ooO--(_)--Ooo-ooO--(_)--Ooo
#

[save_variables]
filename:
  ~/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg

# Machine definitions
[include machine.cfg]

# Macro definitions
[include macros.cfg]

# Bed definitions
[include bed.cfg]

# Cura Material Settings
[include cura_settings.cfg]

# My Buttons
[include my_buttons.cfg]

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[skew_correction]

[endstop_phase]

[respond]

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[input_shaper]
shaper_freq_x: 52
shaper_freq_y: 56
shaper_type: mzv

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20  # an example

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.000702989594323
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 22/64
#*#
#*# [bed_mesh blueTape_215H_50B]
#*# version = 1
#*# points =
#*# 	-0.075500, -0.083000, -0.078000, -0.210500, -0.115500
#*# 	-0.053000, -0.080500, -0.088000, -0.155500, -0.105500
#*# 	-0.038000, -0.088000, -0.128000, -0.180500, -0.113000
#*# 	-0.035500, -0.090500, -0.098000, -0.148000, -0.083000
#*# 	-0.008000, -0.060500, -0.070500, -0.085500, -0.015500
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 5.0
#*# x_count = 5
#*# max_y = 170.0
#*# mesh_x_pps = 3
#*# max_x = 190.0
#*#
#*# [bed_mesh blueTape_235H_50B]
#*# version = 1
#*# points =
#*# 	  -0.100500, -0.100500, -0.095500, -0.233000, -0.148000
#*# 	  -0.075500, -0.095500, -0.108000, -0.178000, -0.140500
#*# 	  -0.060500, -0.103000, -0.145500, -0.200500, -0.148000
#*# 	  -0.058000, -0.118000, -0.125500, -0.175500, -0.120500
#*# 	  -0.033000, -0.080500, -0.098000, -0.120500, -0.058000
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 5.0
#*# x_count = 5
#*# max_y = 170.0
#*# mesh_x_pps = 3
#*# max_x = 190.0
